#kadesh{
	width: 100%;
	height: 36px;
}

body{
	/*color: green;*/
	margin: 0px;
}

.whole{
	width: 100vw;
	height: 100vh;
	display: flex;
}
.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#speaking-container, #listening-container{
	height: 100%;
	width: 50%;
	flex-direction: column;
}
#listening-container{
    overflow: auto;
    flex-wrap: nowrap;
}

div{
	border: 1px solid gray;
}

#speaking-container >div{
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: center; 
	align-items: center;
	flex-wrap: wrap;
}
#form{
	display: flex;
	flex-direction: column;
	align-items: center;

}
#form div{
	display: flex;
	

}
.teaching{
	margin: 18px;
	border-radius: 7px;	

}
.child {
	min-height: 18px;
	padding: 7px;
	border-radius: 3px;
	margin: 7px;
}

.action{
	background-color: rgba(219, 95, 231, 0.55);
}

.thought{
	background-color: rgba(31, 158, 212, 0.44);;
}
.service{
	background-color: #fff64fc4;
}
.public{
	background-color: rgba(12,12,12,0.2);
}

.child > div{
	right:0px;
}

li{
	list-style: none;
}

input{
	margin: 7px;
	border-radius: 3px;
}

button{
    border-radius: 7px;
    border-radius: 50%;
    background-color: pink;
    border-color: pink;
    text-align: center;
}

#submitter{
	background-color: pink;
	border-color: pink;
}

h4 {
	margin: 10px;
}
.teaching > div {
	padding: 7px;
}

ul {
	margin-bottom: 0px;
	margin-top: 3px;
}
